In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [5]:
data = pd.read_csv('data.csv')
data

,Mois,Accenteur mouchet,Corneille noire,Fauvette à tête noire,Geai des chênes,Goéland argenté,Grimpereau des jardins,Grive musicienne,Merle noir,Mésange bleue,...,Pigeon biset,Pigeon ramier,Pinson des arbres,Pouillot véloce,Roitelet huppé,Roitelet à triple bandeau,Rougegorge familier,Sittelle torchepot,Troglodyte mignon,Étourneau sansonnet
0,janvier,1,22,0,4,0,3,1,22,16,...,1,37,3,0,4,0,14,0,5,33
1,fevrier,1,9,0,3,0,4,1,13,7,...,1,8,3,1,2,0,6,2,4,7
2,mars,0,25,6,2,1,7,3,24,16,...,17,24,11,3,1,2,9,2,10,16
3,avril,3,7,8,2,0,2,0,12,7,...,3,10,3,2,0,1,1,0,5,35
4,mai,0,7,10,1,0,5,0,24,4,...,8,9,6,4,0,0,11,0,7,48
5,juin,0,15,11,1,0,5,0,23,8,...,3,25,5,2,6,0,11,0,12,75
6,juillet,0,10,3,2,0,5,0,11,6,...,4,13,3,1,4,0,4,0,2,2
7,aout,6,21,1,1,0,2,0,17,10,...,7,14,0,1,0,0,10,0,5,0
8,septembre,2,15,1,1,0,5,0,10,11,...,2,32,1,0,0,5,12,3,5,0
9,octobre,0,6,0,1,0,1,1,4,4,...,1,34,0,0,0,2,6,2,1,0
10,novembre,1,19,1,6,0,4,0,16,6,...,11,20,4,0,0,5,16,3,4,10
11,decembre,0,5,0,1,0,1,0,3,5,...,5,6,0,0,0,0,2,0,1,5

## Analyse préliminaire
### Apercu du nombre d'individus par espèce

In [14]:
# Combien d'individus toute espèce confondue ont été observés dans le parc ?
total_individuals = data.sum(numeric_only=True).sum() #numeric only permet d'exclure la colonne des mois
print("Nombre total d'individus: ", total_individuals)

Nombre total d'individus:  1672

In [20]:
# Quelle espèce a été la plus observée dans l’année
max_individuals = data.sum(numeric_only=True).max()
max_individuals_species = data.sum(numeric_only=True).idxmax()
print("Espèce la plus observée: ", max_individuals_species, "avec ", max_individuals, "individus")

Espece la plus observée:  Pigeon ramier avec  232 individus

In [19]:
#  Quelle espèce a été la moins observée dans l’année
min_individuals = data.sum(numeric_only=True).min()
min_individuals_species = data.sum(numeric_only=True).idxmin()
print("Espèce la moins observée: ", min_individuals_species, "avec ", min_individuals, "individus")

Espece la moins observée:  Goéland argenté avec  1 individus